{
    http_port 8080
    https_port 8443
    servers {
        listener_wrappers {
            proxy_protocol
            tls
        }
    }
}

$LINK_DOMAIN {
    handle /.well-known/fractalnetworks/health {
	    respond "OK" 200
	}

    # BasicAuthPlaceholder

    reverse_proxy $EXPOSE

    # TODO optional internal tls
    # tls internal
}